{% extends "base2.html" %}
{% load static %}
{% block conteudo %}


  <h1 class="text-uppercase text-white font-weight-bold">Página de Login</h1>
  <form method="post">
  {% csrf_token %}
<form method="post">
{% csrf_token %}
<p  class="text-uppercase text-white font-weight-bold">Usuário: {{ form.username }}</p>
<p class="text-uppercase text-white font-weight-bold">Senha: {{ form.password }}</p>
<button class="btn btn-primary btn-xl js-scroll-trigger"  type="submit">Login</button>
</form>
   <br><br> <br><br>
 
      </div>
    </div>
  </header>


{% endblock %}
