{% extends "base2.html" %}
{% load static %}


{% block conteudo %}

	
	<div style="text-align:center">
	<b><h1>Lista de todos os produtos</h1> 
	</div>

	<table cellspacing="5" cellpadding="10">
 	<tr> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/3.jpg' %}"  width="250px" height="250px" > <p> Pó de banana. R$:15,00 </p></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/4.jpg' %}"  width="250px" height="250px" > <p> Sombras duo. R$:10,00 </p></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/1.jpg' %}"  width="250px" height="250px" > <p> Paleta de sombras. R$:35,00 </p></td>
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/2.jpg' %}"  width="250px" height="250px" > <p> Diluidor de maquiagens. R$:10,00 </p></td> 
	 
	<tr> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/p1.jpg' %}"  width="250px" height="250px" > <p> Flor de amêndoas R$:30,00 </p></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/p2.jpg' %}"  width="250px" height="250px" > <p> Colônia. R$:10,00 </P></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/p3.jpg' %}"  width="250px" height="250px" > <p> Eudora Rouge. ppR$:35,00 </P></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/p4.jpg' %}"  width="250px" height="250px" > <p> kaiak. R$:35,00 </p></td>
	</tr>
	
	<tr>
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/roupa1.jpg' %}"  width="250px" height="250px" > <p>conjunto R$:35,00 </p></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/roupa2.jpg' %}"  width="250px" height="250px" > <p>vestido R$:100,00 </p></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/roupa3.jpg' %}"  width="250px" height="250px" > <p>conjunto 35 R$:35,00 </p></td> <br><br>
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/roupa4.jpg' %}"  width="250px" height="250px" > <p>vestido. R$:100,00 </p></td>
	</tr>
	 </table>




{% endblock %}
