<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
</head>
	<meta charset="utf-8">
<body>

	
	<div style="text-align:center">
	<b><h1>Lista de todos os produtos</h1> 
	</div>

	<table cellspacing="5" cellpadding="10">
 	<tr> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/3.jpg' %}"  width="250px" height="250px" > <p> Pó de banana. R$:15,00 </P></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/4.jpg' %}"  width="250px" height="250px" > <p> Sombras duo. R$:10,00 </P></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/1.jpg' %}"  width="250px" height="250px" > <p> Paleta de sombras. R$:35,00 </P></td>
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/2.jpg' %}"  width="250px" height="250px" > <p> Diluidor de maquiagens. R$:10,00 </P></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/5.jpg' %}"  width="250px" height="250px" > <p> Lip tint. R$:22,00 </P></td> 
	<tr> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/p1.jpg' %}"  width="250px" height="250px" > <p> Flor de amêndoas R$:30,00 </P></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/p2.jpg' %}"  width="250px" height="250px" > <p> Colônia. R$:10,00 </P></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/p3.jpg' %}"  width="250px" height="250px" > <p> Eudora Rouge. ppR$:35,00 </P></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/p4.jpg' %}"  width="250px" height="250px" > <p> kaiak. R$:35,00 </P>
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/p5.jpg' %}"  width="250px" height="250px" > <p> Ekos Maracujá R$:40,00 </P></td> 
	</tr>
	 </table>



</body>
</html>

