{% extends "base2.html" %}
{% load static %}


{% block conteudo %}

	
<div style="text-align:center">
	
<div style="text-align:center">
	<b><h1>Sessão de roupas infantis</h1> 
	</div>

	<table cellspacing="5" cellpadding="10">
 	<tr> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/roupa1.jpg' %}"  width="250px" height="250px" > <p>conjunto R$:35,00 </p></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/roupa2.jpg' %}"  width="250px" height="250px" > <p>vestido R$:100,00 </p></td> 
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/roupa3.jpg' %}"  width="250px" height="250px" > <p>conjunto 35 R$:35,00 </p></td> <br><br>
	<td><img class="mx-auto rounded-circle" src= "{% static 'img/roupa4.jpg' %}"  width="250px" height="250px" > <p>vestido. R$:100,00 </p> </td>
	 



 	</tr>

 	 </table>

</body>
</html>

{% endblock %}



